

    <p>NgForm and NgModel Practice for Template driven Forms</p>
    <button (click)="goToForms('template')">Template Driven From</button>
    <button (click)="goToForms('reactive')">Reactive Form</button>
    <button (click)="goToForms('formArray')">Form Array</button>
    <div class="container" *ngIf="template">
      <div class="row">
        <div class="form_bg">
        <form #regForm='ngForm' (ngSubmit)="register(regForm)">
          <h2 class="text-center">Register Portal</h2>
          <br>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="fName" required ngModel>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Second Name" name="sName" required  ngModel>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone" name="phone" required  ngModel>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Id" name="email" email required  ngModel #email="ngModel">
            <span class="help-bpx" *ngIf="email.touched && !email.valid">Please enter correct Email Id</span>
          </div>
          <br>
          <button class="btn btn-primary" id="register" [disabled]="!regForm.valid">Submit</button>
        </form>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="reactive">
      <div class="row">
  
        <div class="form_bg">
          <form [formGroup] = 'signUpForm' (ngSubmit)="postData(signUpForm)">
            <h2>Reactive Forms</h2>
            <div class="form-group">
              <input type="text" placeholder="First Name" formControlName='rFirstName'>
              <span *ngIf="signUpForm.controls.rFirstName.touched && signUpForm.controls.rFirstName.value ==''"> First Name is Empty</span>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Second name" formControlName='rSecondName'>
              <span *ngIf="signUpForm.controls.rSecondName.touched && signUpForm.controls.rSecondName.hasError('required')">Plese enter second name</span>
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email Id" formControlName='rEmailId'>
            </div>
            <div class="form-group">
              <input type="password" placeholder="password" formControlName='rPassword'>
            </div>
            <br>
            <input type="submit" value="Sign Up" [disabled]="!signUpForm.valid">
            <button type="reset">Reset Form</button>
          </form>
        </div>
    </div>
    </div>
    <div class="container" *ngIf="formArray">
      
      <form [formGroup] = "form" (ngSubmit)= "printContacts()">
        <div formArrayName = "contactDetails">
          <div *ngFor="let contact of form.controls.contactDetails.controls, let i = index" >
              <div class="form-group">
            <input [formControlName] = "i" placeholder="Enter Contact Number">
              </div>
          </div>
  
        </div>
      </form>
      <button (click)= "addContact()">Add Contact Control</button>
    </div>