@import '~@angular/material/prebuilt-themes/indigo-pink.css';

P {
    color : blue;
    font-weight: bold;
}
.One{
    color :seagreen;
}

.Two{
    font-size: 15px;
}
.Three{
   background-color :  blue;
}
input.ng-invalid.ng-touched{
    border-color: red;
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

